.container {
    margin: 1rem auto;
    padding: 25px;
    width: 100%;
  
    svg {
      stroke: #fff;
  
      // All layers are just path elements
      path {
        fill: rgb(76, 175, 80);
        cursor: pointer;
        outline: none;
        transition: 0.5s;
  
        // When a layer is hovered
        &:hover {
          fill:rgb(255, 152, 0);
        }
  
        // When a layer is focused.
        &:focus {
          fill:  rgba(76, 175, 80,0.6);
        }

        &:active {
          transform:scale(0.95)
        }
  
        // When a layer is 'checked' (via checkedLayers prop).
        &[aria-checked='true'] {
          fill: rgba(56,43,168,1);
        }
  
        // When a layer is 'selected' (via currentLayers prop).
        &[aria-current='true'] {
          fill: rgba(56,43,168,0.83);
        }
      }
    }
}
.styledCard{
  margin:25px;
  padding:15px;
}
.formCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:30px;
  padding-bottom: 50px;
  padding-top: 30px;
  width:400px
}